.logo {
  cursor: pointer;
}

.btn-group {
  display: flex;
  align-items: center;

  button {
    display: block;
    padding: 2px 4px;
    cursor: pointer;
  }
}

.footer {
  border-top: 2px solid #eee;
}
